pkgbase = chronos
	pkgdesc = A manual, local-first time tracker with a CLI companion, built with Tauri and React
	pkgver = 0.3.1
	pkgrel = 1
	url = https://github.com/RickCaleg/chronos
	arch = x86_64
	license = MIT
	makedepends = rust
	makedepends = nodejs
	makedepends = npm
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = hicolor-icon-theme
	depends = desktop-file-utils
	source = chronos-0.3.1.tar.gz::https://github.com/RickCaleg/chronos/archive/refs/tags/v0.3.1.tar.gz
	sha256sums = 468c3257640c014b0f6a89a4a4ccdee47b47ed8ba0a7d39d26539ec8a4e3c7bf

pkgname = chronos
