pkgbase = chronos
	pkgdesc = A manual, local-first time tracker with a CLI companion, built with Tauri and React
	pkgver = 0.3.7
	pkgrel = 1
	url = https://github.com/RickCaleg/chronos
	arch = x86_64
	license = MIT
	makedepends = rust
	makedepends = nodejs
	makedepends = npm
	makedepends = git
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = hicolor-icon-theme
	depends = desktop-file-utils
	source = chronos::git+https://github.com/RickCaleg/chronos.git#tag=v0.3.7
	sha256sums = SKIP

pkgname = chronos
